.page-header {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 500;
}

.main-info {
  display: flex;
  gap: 5%;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.main-info img {
  border: 3px solid #37aa9c;
  border-radius: 10px;
}

.main-info-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-info h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.personal-info p {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 500;
}

.edit-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}

.edit-info-btn div {
  padding: 5px 8px;
  border: 2px solid #37aa9c;
  border-radius: 5px;
  font-size: 2rem;
  color: #37aa9c;
}

.contacts {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.contacts h3 {
  display: inline;
  font-size: 1.5rem;
}

.edit-contacts-btn {
  background-color: transparent;
  border: 0;
}

.edit-contacts-btn div {
  padding: 4px 7px;
  border: 2px solid white;
  border-radius: 7px;
  font-size: 1.25rem;
  color: white;
}

.logout-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid #f37199;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #f37199;
}
