.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 200px;
}

.image-box {
  width: 30%;
  height: auto;
}

.image-box img {
  width: 100%;
  height: 100%;
}

.image-heading-box {
  display: flex;
  align-items: center;
  width: 50%;
}

.image-heading-box h1 {
  font-size: 4rem;
  font-weight: 600;
}

.subheader-box h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 500;
}

.subheader-box h3 {
  font-size: 2rem;
  font-weight: 500;
}
