/* VacancyItem */
.vacancy-item-container {
  width: 75%;
}

.vacancy-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #1f1f21;
  border: 2px solid white;
  border-radius: 10px;
}

.vacancy-item > div {
  display: flex;
  gap: 20px;
}

.vacancy-item img {
  border-radius: 10px;
}

.short-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.short-info h4 {
  font-size: 1.25rem;
}

.short-info h3 {
  font-size: 1.5rem;
}

/* VacancyItem */
