.side-box {
  padding: 20px;
  width: 20%;
  height: fit-content;
  background-color: #1f1f21;
  border: 3px solid #37aa9c;
  border-radius: 10px;
  text-align: center;
}

.side-box img {
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 50%;
}

.side-box h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.side-box h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.site-link {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid white;
}

.side-box section {
  margin-bottom: 15px;
}

.side-box section h4 {
  margin-bottom: 5px;
  font-weight: 300;
}

.side-box p {
  font-size: 1.25rem;
  font-weight: 500;
}

.office {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.apply-btn,
.edit-link div {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 0;
  border-radius: 30px;
  color: #1f1f21;
  font-size: 1.5rem;
  font-weight: 500;
}

.edit-link {
  display: block;
}

.edit-link div {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}
